*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --ff-primary: 'Inter', sans-serif;
    --ff-secundary: 'Playfair Display', serif;

    --fw-light: 200;
    --fw-reg: 400;
    --fw-sbold: 500;
    --fw-bold: 600;
    --fw-xbold: 700;

    --clr-light: #fff9f5;
    --clr-dark: #3E2A2A;
    --clr-accent: #ffb20d; 
    --clr-text: #F44321;

    --fs-h1: 2.75rem;
    --fs-f2: 3rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
    --fs-navlinks: .9em;
    --fs-quotes: 1.25rem;
    --fs-btn: 2.5rem;
    --fs-footer: .8rem;
}

@media (min-width: 900px) {
    :root {
        --fs-h1: 8rem;
        --fs-f2: 5rem;
        --fs-h3: 1.75rem;
        --fs-body: 1.25rem;
        --fs-quotes: 1.5rem;
    }
}

/* GENERAL LAYOUT */

body {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.5;
    font-weight: var(--fw-reg);
    background: var(--clr-light);
    color: var(--clr-dark);
}

@media (min-width: 900px) {
    .main-body {
        position: relative;
        top: 100px;
    }
}

img {
    width: 100%;
    display: block;
    margin: 0 auto;
    border: var(--clr-dark) 1px solid;
}

.scroll-transition-fade {
    transition: transform 1s, ease-in-out,opacity, .8s ease-in-out;
}

strong {
    font-weight: var(--fw-reg);
}

/* WELCOME PAGE */

.welcome-body {
    margin: 2em auto 0;
    padding: 0;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--clr-light);
}

.welcome-quote,
.welcome-title {
    margin: 0;
    z-index: 1;
}

.welcome-quote {
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    line-height: 1.3;
    margin-bottom: 20em;
}

.text-accent {
    font-size: var(--fs-h3);
    font-weight: var(--fw-sbold);
}

.welcome-main-title {
    color: var(--clr-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.welcome-title {
    font-family: var(--ff-secundary);
    font-size: var(--fs-h1);
    text-transform: uppercase;
    line-height: 1;
}

.welcome-img {
    position: absolute;
    width: 400px;
    border: none;
}

@media (min-width: 900px) {
    .welcome-img {
        width: 600px;
    }

    .welcome-quote {
        margin-bottom: 25em;
    }
}

/* TYPOGRAPHY */

.page-title {
    font-family: var(--ff-secundary);
    font-size: var(--fs-h1);
    font-weight: var(--fw-sbold);
    text-transform: uppercase;
    text-align: left;
    line-height: 1.2;
}

@media (min-width: 900px) {
    .page-title {
        text-align: center;
    }
}

.text_block {
    margin: 4em auto;
    padding: 0 1em;
    max-width: 600px;
    border: var(--clr-dark) 1px solid;
}

figcaption {
    font-size: var(--fs-footer);
    font-weight: var(--fw-reg);
    margin-top: .5em;
}

/* NAVIGATION */

.header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: var(--fs-h3);
    font-weight: var(--fw-light);
    text-align: center;
    text-transform: uppercase;
}

.logo-link {
    color: var(--clr-dark);
}

.logo-link:hover,
.logo-link:focus {
    color: var(--clr-accent);
}

.logo-link,
.nav-link {
    text-decoration: none;
    cursor: pointer;
}

.open-nav {
    font-size: var(--fs-btn);
    cursor: pointer;
    color: var(--clr-dark);
}

.nav-bar {
    position: fixed;
    background: var(--clr-dark);
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    z-index: 100;   
    transform: translateX(0);
    transition: transform 450ms;
    overflow: hidden;
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding:0;
}

.list-item {
    list-style: none;
    margin: -5em;
}

.nav-link {
    font-size: var(--fs-body);
    font-weight: var(--fw-light);
    color: var(--clr-light);
    text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--clr-accent);
}

.active {
    font-weight: var(--fw-sbold);
}

.inactive {
    opacity: .8;
}

.close-nav {
    color: var(--clr-light);
    font-size: var(--fs-btn);
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
    padding: .5em;
}

.open-nav:hover,
.open-nav:focus,
.close-nav:hover,
.close-nav:focus {
    color: var(--clr-accent);
}

.navigation-open {
    transform: translateX(-100%);
}

.social-media {
    display: none;
}
@media (min-width: 900px) {

    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        flex-direction: column;
        z-index: 100;
        background: var(--clr-light);
        border-bottom: var(--clr-dark) 1px solid;
    }

    .open-nav,
    .close-nav {
        display: none;
    }

    .logo {
        font-size: var(--fs-h3);
        margin: .5em 0;
    }

    .nav-bar {
        position: unset;
        margin-top: -1em;
        background: none;
    }

    .nav-list {
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 1em;
    }

    .list-item {
        margin: 0 .5em;
        height: unset;
    }
    
    .nav-link {
        color: var(--clr-dark);
        font-size: var(--fs-navlinks);
        padding: 0;
    }
    
} 

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 7em auto 2em;
    padding: 2em 0 1.5em;
    border: var(--clr-dark) 1px solid;
}

.credits p {
    font-size: var(--fs-footer);
    font-weight: var(--fw-reg);
    margin: 0;
}

.social-media-footer {
    margin-bottom: 2em;
}

.contact-link {
    font-size: var(--fs-h3);
    color: var(--clr-dark);
    margin: 0 1em;
    cursor: pointer;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--clr-accent);
}

@media (min-width: 900px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2em;
        margin-bottom: 7em;
    }

    .contact-link {
        margin-left: 0;
    }

    .social-media-footer {
        margin: 0;
    }
}

/* BIOGRAPHY PAGE */

    .first-section,
    .second-section-right {
        max-width: 600px;
    }

    .first-section {
        margin-bottom: 5em;
    }

    .bio_photo_two {
        width: 100%;
        max-width: 600px;
        margin-bottom: 2em;
    }

    .bio_photo_three {
        width: 100%;
        max-width: 500px;
        margin-top: 4em;
    }

    @media (min-width: 800px) {

        .bio_photo_two {
            position: absolute;
            left: 0;
            right: 10em;
        }
        
        .bio_photo_three {
            position: relative;
            left: 7em;
            right: 0;
            top: 30em;
        }

        .second-section-right {
            margin-top: 35em;
            margin-right: 0;
        }
    }
    

@media (min-width: 1400px) {
    
    .bio_photo_two {
        right: 80em;
    }

    .bio_photo_three {
        left: -10em;
        right: 0;
        top: 30em;
    }

    .second-section-right {
        margin-top: -25em;
    }
}

/* ALBUMS PAGE */

.album {
    border-bottom: var(--clr-dark) solid 1px;
    max-width: 600px;
    margin: 0 auto;
}

.album-info {
    color: var(--clr-dark);
    font-size: var(--fs-body);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
}

.album-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.album-title {
    font-size: var(--fs-h3);
    font-weight: var(--fw-sbold);
}

.dropdown-album {
    font-size: var(--fs-h3);
    color: var(--clr-dark);
}

.album-title:hover,
.album-title:focus,
.dropdown-album:hover,
.dropdown-album:focus {
    color: var(--clr-accent);
}   

.album-content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.album-link {
    text-decoration: none;
}

.album-info:hover,
.album-info:focus {
    color: var(--clr-accent);
}

.album-external-site {
    font-size: var(--fs-h3);
    transform: rotate(45deg);
}

.albums-text {
    margin-top: 10em;
}

.quote {
    text-align: center;
    margin: 10em auto;
    font-size: var(--fs-quotes);
    border-top: var(--clr-dark) 1px solid;
    border-bottom: var(--clr-dark) 1px solid;
    max-width: 700px;
}

/* NEW RELEASES PAGE */

.release-text {
    padding: 1em;
    font-size: var(--fs-quotes);
    font-weight: var(--fw-reg);
}

@media (min-width: 900px) {
    .release-text {
        text-align: center;
        max-width: 800px;
    }
}

.itunes-link {
    color: var(--clr-dark);
    text-decoration: none;
    font-weight: var(--fw-bold);
}

.itunes-link:hover,
.itunes-link:focus {
    color: var(--clr-accent);
}

.new-album {
    text-decoration: none;
}

.more-info-btn {
    color: var(--clr-dark);
    font-size: var(--fs-body);
    font-weight: var(--fw-sbold);
    text-transform: uppercase;
    text-align: center;
    margin: 2em auto;
}

.more-info-btn:hover,
.more-info-btn:focus {
    color: var(--clr-accent);
}

.release-album {
    max-width: 500px;
}

.external-sites {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fb-site {
    color: var(--clr-dark);
    text-decoration: none;
    font-size: var(--fs-body);
    font-weight: var(--fw-sbold);
    cursor: pointer;
}

.fb-site:hover,
.fb-site:focus {
    color: var(--clr-accent);
}

/* NEW WORKS PAGE*/

.li-item {
    list-style: none;
}

/* VIDEOS PAGE */

iframe {
    width: 100%;
    max-width: 500px;
    margin: 1em auto;
}

.video-list {
    display: flex;
    flex-flow: row wrap;
}